---
layout: default
---

<div class="inner">

  <h1>Research interests</h1>

  <p class="fancy">
   Rail transit network optimization under uncertain disruptions
    </p>
  <p class="fancy">
   Optimization and decision making under uncertainty
        </p>
  
<!--<ul class="research-nav">
    <li {% if page.url == '/research/index.html' %}class="active"{% endif %}>
      <a href="/research/"></a>
   </li>
</ul>-->
  {{ content }}

  <div class="fancy center convinced">
    <!-- <a class="btn btn-lg" href="http://freelancebooking.pro/en/users/ssaunier">Book me</a>

    <br /><br /> -->
 
    <!--Please find my <a href="XU Lei_resume.pdf">resume</a> for more information. If you are interested in my research, feel free to contact me by <a href="mailto: shirleyfly1218@gmail.com">email</a>.-->
  </div>

</div>
